@import '~styles/palette.styl'
@import '~styles/mixins.styl'

.Header
	font-family Arial, Helvetica, sans-serif
	padding 1.5em 10vmin
	color palette('white')
	font-size 1.12em

	+mobile()
		padding 1em 0
