$palette = {
	'blue': {
		'500': #0f58fb
	},
	'red': {
		'500': #ad0051
	},
	'gray': {
		'700': #333
		'500': #777
		'200': #f6f6f6
	},
	'white': {
		'500': white
	}
}

palette(color, accent = '500')
	return $palette[color][accent]
