.section
	display flex
	font-family Monaco, monospace
	flex-direction row
	margin 10vmin 0

	.wf-robotomono-n4-active &
		font-family 'Roboto Mono', monospace

	&__title
		text-align right
		padding-right 2em
		font-weight 700
		margin 0
		flex: 1

	&__content
		font-weight 300
		margin 0
		flex: 2
