@import '~styles/mixins.styl'
@import '~styles/palette.styl'

.Page
	background-color palette('gray', '200')
	flex 1
	display flex
	flex-direction column
	padding 0 10vmin

	+mobile()
		padding 0 5vmin

