<html lang="<%= lang %>">
    <head>
        <title>Sergey Bekrin</title>
        <% if (!dev) { %>
            <link rel="stylesheet" href="./bundle.css" />
        <% } %>
    </head>
    <body>
        <main>
            <%= html %>
        </main>
        <% if (dev) { %>
            <script src="http://localhost:3000/dist/bundle.js"></script>
        <% } else { %>
             <script async src="./bundle.js"></script>
        <% } %>
    </body>
</html>