@import '~styles/variables.styl'
@import '~styles/mixins.styl'

.ProfileCard
	display flex
	flex-direction column
	max-width 680px

	&-image
		pointer-events none
		border-radius 50%

		+mobile()
			width 82px
			height 82px

	&-headline
		font-family Helvetica, Arial, sans-serif
		letter-spacing -.06em
		position relative
		font-weight 700
		font-size 3.5em
		margin 0
		color #2e2e2e
		line-height 1.5
		margin-bottom .25em

		+mobile()
			letter-spacing -.06em
			font-size 2em

	&-paragraph
		font-family monospace
		font-weight 300
		font-size 1.35em
		line-height 1.75

		roboto-mono-ready('300')

		+mobile()
			font-size 1em

	.SvgIcon--gd-logo
		margin-right .2em
		margin-bottom -.05em
		position relative
		width .85em
		height .85em
