@import '~styles/palette.styl'
@import '~styles/mixins.styl'

.NavigationItem
	align-items center
	display flex
	vertical-align middle
	justify-content center
	margin 0 1.5em

	+mobile()
		margin 0

	&-link
		transition color 200ms ease
		text-decoration none
		color palette('blue')
		font-weight bold
		white-space nowrap

		&:active
			outline none

		&:not(&--active):hover
			color palette('red')

		&--active
			color palette('gray', '700')
			pointer-events none
